@import 'bootstrap/dist/css/bootstrap.min.css';

main {
  padding: 20px;
}

.task-stdout {
  pre {
    font-size: 10px;
    padding: 10px;
    background: #9eeaf9;
  }
}

.task-stderr {
    pre {
      font-size: 10px;
      padding: 10px;
      background: #f9a29e;
    }
}
